---
title: Work
layout: subpage
permalink: /work
---
<div class="project-container">

    <div class="filter">
        <p>Filter by:</p>

        {% assign all_tags = "" %}
    
        {% for project in site.work %}
            {% for tag in project.tags %}
                {% assign all_tags = all_tags | append: tag | append: "," %}
            {% endfor %}
        {% endfor %}
    
        {% assign unique_tags = all_tags | split: "," | uniq | sort %}
    
        <div class="tag-options">
            <button id="show-all-btn" class="filter-btn active">ALL</button>
            {% for tag in unique_tags %}
                {% if tag != "" %}
                    <button class="filter-btn" data-tag="{{ tag | slugify }}">{{ tag | upcase }}</button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    
    
    {% for project in site.work %}  
        {% if project.published %}

    
            <div class="card" data-tags="{{ project.tags | join: ',' | slugify }}">
                <img src="{{ project.image | relative_url }}" alt="{{ project.image-alt}}">
                
                <div class="info">
                    <div class="main-info">
                        <h3>{{ project.title }}</h3>
                        <p><strong>{{ project.year }}</strong></p>
                    </div>
                    <div class="tags">
                        {% for tag in project.tags %}
                            <div class="tag">
                                {{tag | upcase}}
                            </div>
                        {% endfor %}
                    </div>
                    <p class="description"> {{ project.description }}</p>
            
                    <div class="view-button">
                        <a href="{{ project.url | relative_url }}"><strong class="view-btn">VIEW PROJECT<span class="material-symbols-outlined">arrow_right_alt</span></strong></a>
                    </div>
                </div>
            </div>
        
        {% endif %}
    
    {% endfor %}

</div>
  
<style>
    .project-container {
        padding: 0 10vw 100px 10vw;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .project-container .card {
        display: flex;
        flex-direction: row;
        gap: 5vw;
        align-items: center;
    }
    .project-container .info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .project-container img {
        width: 40%;
        height: auto;
        border-radius: 10px;
    }

    .project-container .card .main-info {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
    }
    
    .project-container .card .tags {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .project-container .card .tags .tag {
        padding: 0.25em 0.5em;
        border-radius: 10px;
        background: rgba(154, 119, 207, 0.10);
        color: var(--bright-lav);
        line-height: normal;
        text-align: center;
    }
    .project-container .card .button {
        border: none;
    }
    .project-container .main-info p {
        color: var(--bright-lav);
    }
    .project-container .card a {
        text-decoration: none;
        color: var(--bright-lav);
    }
    .project-container .view-btn {
        margin-left: -0.5em;
        padding: 0.5em;
        transition: 1s ease-in-out;
        display: inline-flex;
        align-items: center;
        border-radius: 10px;
    }

    .project-container .view-btn:hover {
        background-color: var(--knight-purple);
        color: var(--pale-purple);
        transform: translate(1vw,0vw);
    }
    .project-container .filter {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
    }

    .project-container .filter-btn {
        font-family: 'Brandon Text';
        font-size: 20px;
        padding: 0.25em 0.5em;
        border-radius: 10px;
        background: rgba(154, 119, 207, 0.10);
        color: var(--bright-lav);
        line-height: normal;
        border: none;
        transition: 0.5s ease-in-out;
    }
    .project-container .tag-options {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .project-container .filter-btn.active {
        background-color: var(--knight-purple);
        color: var(--pale-purple);
    }
    .project-container .filter-btn:hover {
        transform: scale(1.05);
        background-color: var(--bright-lav);
        color: var(--pale-purple);
        cursor: pointer;
    }

    
    /* RESPONSIVE WEB */
    @media (min-width: 320px) {
        .project-container .card {
            display: flex;
            flex-direction: column;
        }
        .project-container img {
            width: 100%;
        }
        .project-container {
            font-size: 0.9em;
        }
        .project-container h3 {
            font-size: 1.75em;
        }
        .project-container .filter {
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: center;
        }
        .project-container .filter-btn {
            font-family: 'Brandon Text';
            font-size: 20px;
            padding: 0.25em 0.5em;
            border-radius: 10px;
            background: rgba(154, 119, 207, 0.10);
            color: var(--bright-lav);
            line-height: normal;
            border: none;
            transition: 0.5s ease-in-out;
        }
        .project-container .tag-options {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    /* Tablets (768px and up) */
    @media (min-width: 800px) {
        .project-container .card {
            display: flex;
            flex-direction: column;
        }
        .project-container {
            font-size: 1em;
        }
        .project-container .filter {
            display: flex;
            flex-direction: row;
            gap: 1em;
            align-items: center;
        }
        .project-container .filter-btn {
            font-family: 'Brandon Text';
            font-size: 20px;
            padding: 0.25em 0.5em;
            border-radius: 10px;
            background: rgba(154, 119, 207, 0.10);
            color: var(--bright-lav);
            line-height: normal;
            border: none;
            transition: 0.5s ease-in-out;
        }
        .project-container .tag-options {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }

    /* Small Laptops (1024px and up) */
    @media (min-width: 1095px) {
        .project-container .card {
            display: flex;
            flex-direction: row;
            gap: 5vw;
            align-items: center;
        }
        .project-container img {
            width: 40%;
        }
        .project-container {
            font-size: 1em;
        }
    }

    /* Desktops (1440px and up) */
    @media (min-width: 1440px) {
        .project-container .card {
            display: flex;
            flex-direction: row;
            gap: 5vw;
            align-items: center;
        }
    }
</style>